- Atividade 04: Dicionário de dados

   - **Dataset:** exercise
   - 1)Coleta dos dados, 2)criação do dicionário de dados

In [7]:
import seaborn as sns
import pandas as pd
import numpy as np

In [8]:
exercises = sns.load_dataset("exercise")

In [9]:
# verificando dimensão do dataset
exercises.shape

(90, 6)

In [10]:
exercises

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

In [11]:
exercises = exercises.iloc[:,1:6]
print(exercises.dropna(how='all'))

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

In [12]:
exercises.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [13]:
exercises.pulse.mode()

0     92
1     97
2    100
Name: pulse, dtype: int64

In [14]:
exercises.mode()

    id     diet  pulse    time     kind
0    1   no fat   92.0   1 min     rest
1    2  low fat   97.0  15 min  walking
2    3      NaN  100.0  30 min  running
3    4      NaN    NaN     NaN      NaN
4    5      NaN    NaN     NaN      NaN
5    6      NaN    NaN     NaN      NaN
6    7      NaN    NaN     NaN      NaN
7    8      NaN    NaN     NaN      NaN
8    9      NaN    NaN     NaN      NaN
9   10      NaN    NaN     NaN      NaN
10  11      NaN    NaN     NaN      NaN
11  12      NaN    NaN     NaN      NaN
12  13      NaN    NaN     NaN      NaN
13  14      NaN    NaN     NaN      NaN
14  15      NaN    NaN     NaN      NaN
15  16      NaN    NaN     NaN      NaN
16  17      NaN    NaN     NaN      NaN
17  18      NaN    NaN     NaN      NaN
18  19      NaN    NaN     NaN      NaN
19  20      NaN    NaN     NaN      NaN
20  21      NaN    NaN     NaN      NaN
21  22      NaN    NaN     NaN      NaN
22  23      NaN    NaN     NaN      NaN
23  24      NaN    NaN     NaN      NaN
24  25      NaN    NaN     NaN      NaN
25  26      NaN    NaN     NaN      NaN
26  27      NaN    NaN     NaN      NaN
27  28      NaN    NaN     NaN      NaN
28  29      NaN    NaN     NaN      NaN
29  30      NaN    NaN     NaN      NaN

In [15]:
exercises.mean()

/tmp/ipykernel_19485/3708375293.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises.mean()

id       15.5
pulse    99.7
dtype: float64

In [16]:
exercises.median()

/tmp/ipykernel_19485/3124108495.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises.median()

id       15.5
pulse    96.0
dtype: float64

In [17]:
time = exercises["time"]

type(time[0])

str

In [18]:
dictionary = pd.DataFrame([
    {
        "variavel": "id",
        "descricao": "Identificação do sujeito através do id (identifier)",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "diet",
        "descricao": "Tipo de dieta: baixo teor de gordura (low fat), sem gordura (no fat)",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "pulse",
        "descricao": "Número que representa a pulsação do sujeito",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "time",
        "descricao": "Tempo de medição em minutos (min)",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "kind",
        "descricao": "Tipo de atividade física: descansar (rest), caminhando (walking), correndo (running)",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])

In [19]:
new_path = "../../references/dicionario-exercise.csv"
dictionary.to_csv(new_path, index=False)
dictionary

,variavel,descricao,tipo,subtipo
0,id,Identificação do sujeito através do id (identi...,quantitativa,discreta
1,diet,Tipo de dieta: baixo teor de gordura (low fat)...,qualitativa,nominal
2,pulse,Número que representa a pulsação do sujeito,quantitativa,contínua
3,time,Tempo de medição em minutos (min),quantitativa,contínua
4,kind,"Tipo de atividade física: descansar (rest), ca...",qualitativa,nominal

In [20]:
qualitativas = dictionary[dictionary['tipo'] == 'qualitativa'].variavel.tolist()
quantitativas = dictionary[dictionary['tipo'] == 'quantitativa'].variavel.tolist()

In [21]:
qualitativas

['diet', 'kind']

In [22]:
quantitativas

['id', 'pulse', 'time']

In [23]:
# pré-processamento da variável time
exercises['time'] = exercises['time'].str.replace('min','')
exercises['time'] = pd.to_numeric(exercises['time'])

In [24]:
exercises

    id     diet  pulse  time     kind
0    1  low fat     85     1     rest
1    1  low fat     85    15     rest
2    1  low fat     88    30     rest
3    2  low fat     90     1     rest
4    2  low fat     92    15     rest
..  ..      ...    ...   ...      ...
85  29   no fat    135    15  running
86  29   no fat    130    30  running
87  30   no fat     99     1  running
88  30   no fat    111    15  running
89  30   no fat    150    30  running

[90 rows x 5 columns]

In [25]:
exercises[qualitativas].mode()

      diet     kind
0   no fat     rest
1  low fat  walking
2      NaN  running

In [26]:
exercises[quantitativas].mean()

id       15.500000
pulse    99.700000
time     15.333333
dtype: float64

In [27]:
exercises[quantitativas].median()

id       15.5
pulse    96.0
time     15.0
dtype: float64

In [28]:
exercises.describe(include="all")

               id    diet       pulse       time  kind
count   90.000000      90   90.000000  90.000000    90
unique        NaN       2         NaN        NaN     3
top           NaN  no fat         NaN        NaN  rest
freq          NaN      45         NaN        NaN    30
mean    15.500000     NaN   99.700000  15.333333   NaN
std      8.703932     NaN   14.858471  11.907886   NaN
min      1.000000     NaN   80.000000   1.000000   NaN
25%      8.000000     NaN   90.250000   1.000000   NaN
50%     15.500000     NaN   96.000000  15.000000   NaN
75%     23.000000     NaN  103.000000  30.000000   NaN
max     30.000000     NaN  150.000000  30.000000   NaN

In [29]:
exercises.groupby('diet')[quantitativas].agg(['mean','median','std'])

           id                        pulse                         time  \
         mean median       std        mean median        std       mean
diet
no fat   18.0   18.0  8.380171  103.444444   99.0  17.550648  15.333333
low fat  13.0   13.0  8.380171   95.955556   94.0  10.481489  15.333333


        median        std
diet
no fat    15.0  11.975353
low fat   15.0  11.975353

In [30]:
exercises.groupby('diet')['pulse'].agg(['mean','median','std'])

               mean  median        std
diet
no fat   103.444444    99.0  17.550648
low fat   95.955556    94.0  10.481489

In [31]:
exercises.groupby('diet')[qualitativas].agg(pd.Series.mode)

            diet                                               kind
diet
no fat    no fat  ['rest', 'walking', 'running']
Categories (3, ...
low fat  low fat  ['rest', 'walking', 'running']
Categories (3, ...