In [22]:
import seaborn as sns
import pandas as pd
import numpy as np

In [23]:
exercises = sns.load_dataset("exercise")

In [24]:
exercises

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

In [25]:
exercises.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [26]:
exercises.time.mode()

0     1 min
1    15 min
2    30 min
Name: time, dtype: category
Categories (3, object): ['1 min', '15 min', '30 min']

In [6]:
exercises.mode()

    Unnamed: 0   id     diet  pulse    time     kind
0            0  1.0   no fat   92.0   1 min     rest
1            1  2.0  low fat   97.0  15 min  walking
2            2  3.0      NaN  100.0  30 min  running
3            3  4.0      NaN    NaN     NaN      NaN
4            4  5.0      NaN    NaN     NaN      NaN
..         ...  ...      ...    ...     ...      ...
85          85  NaN      NaN    NaN     NaN      NaN
86          86  NaN      NaN    NaN     NaN      NaN
87          87  NaN      NaN    NaN     NaN      NaN
88          88  NaN      NaN    NaN     NaN      NaN
89          89  NaN      NaN    NaN     NaN      NaN

[90 rows x 6 columns]

In [7]:
exercises.mean()

/tmp/ipykernel_22127/1965315009.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises.mean()

Unnamed: 0    44.5
id            15.5
pulse         99.7
dtype: float64

In [8]:
exercises.median()

/tmp/ipykernel_22127/1347084426.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises.median()

Unnamed: 0    44.5
id            15.5
pulse         96.0
dtype: float64

In [27]:
dictionary = pd.DataFrame([
    {
        "variavel": "Unnamed: 0",
        "descricao": "Descrição não fornecida",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "id",
        "descricao": "Identificação do sujeito",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "diet",
        "descricao": "Tipo de dieta",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "pulse",
        "descricao": "Pulso do sujeito",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "time",
        "descricao": "Tempo de medição",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "kind",
        "descricao": "Tipo de atividade física",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])

In [28]:
dictionary

     variavel                 descricao          tipo   subtipo
0  Unnamed: 0   Descrição não fornecida  quantitativa  discreta
1          id  Identificação do sujeito  quantitativa  discreta
2        diet             Tipo de dieta   qualitativa   nominal
3       pulse          Pulso do sujeito  quantitativa  contínua
4        time          Tempo de medição   qualitativa   ordinal
5        kind  Tipo de atividade física   qualitativa   nominal

In [11]:
qualitativas = dictionary[dictionary['tipo'] == 'qualitativa'].variavel.tolist()
quantitativas = dictionary[dictionary['tipo'] == 'quantitativa'].variavel.tolist()

In [12]:
qualitativas

['diet', 'kind']

In [13]:
quantitativas

['Unnamed: 0', 'id', 'pulse', 'time']

In [14]:
exercises[qualitativas].mode()

      diet     kind
0   no fat     rest
1  low fat  walking
2      NaN  running

In [15]:
exercises[quantitativas].mean()

#TODO: dúvida foi classificado como variável quantitativa (Unnmed e id), pela questão originário do dado ser um numérico, está correto ? Como posso tratar isso

/tmp/ipykernel_22127/1248721251.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises[quantitativas].mean()

Unnamed: 0    44.5
id            15.5
pulse         99.7
dtype: float64

In [16]:
exercises[quantitativas].median()

/tmp/ipykernel_22127/2780992864.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  exercises[quantitativas].median()

Unnamed: 0    44.5
id            15.5
pulse         96.0
dtype: float64

In [17]:
exercises.describe(include="all")

        Unnamed: 0         id    diet       pulse   time  kind
count    90.000000  90.000000      90   90.000000     90    90
unique         NaN        NaN       2         NaN      3     3
top            NaN        NaN  no fat         NaN  1 min  rest
freq           NaN        NaN      45         NaN     30    30
mean     44.500000  15.500000     NaN   99.700000    NaN   NaN
std      26.124701   8.703932     NaN   14.858471    NaN   NaN
min       0.000000   1.000000     NaN   80.000000    NaN   NaN
25%      22.250000   8.000000     NaN   90.250000    NaN   NaN
50%      44.500000  15.500000     NaN   96.000000    NaN   NaN
75%      66.750000  23.000000     NaN  103.000000    NaN   NaN
max      89.000000  30.000000     NaN  150.000000    NaN   NaN

In [18]:
exercises.groupby('pulse')[quantitativas].agg(['mean','median','std'])

/tmp/ipykernel_22127/255857346.py:1: FutureWarning: ['time'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  exercises.groupby('pulse')[quantitativas].agg(['mean','median','std'])

      Unnamed: 0                           id                    pulse         \
            mean median        std       mean median        std   mean median
pulse
80      9.000000    9.0        NaN   4.000000    4.0        NaN   80.0   80.0
82     10.000000   10.0        NaN   4.000000    4.0        NaN   82.0   82.0
83     14.000000   15.0   2.645751   5.333333    6.0   1.154701   83.0   83.0
84     31.333333   32.0  14.011900  11.000000   11.0   5.000000   84.0   84.0
85      0.500000    0.5   0.707107   1.000000    1.0   0.000000   85.0   85.0
86     35.666667   31.0   8.962886  12.666667   11.0   2.886751   86.0   86.0
87     43.500000   43.5  36.062446  15.500000   15.5  12.020815   87.0   87.0
88     10.500000   10.5  12.020815   4.000000    4.0   4.242641   88.0   88.0
89     44.500000   44.5   3.535534  15.500000   15.5   0.707107   89.0   89.0
90     27.250000   28.0  20.287517   9.750000   10.0   6.601767   90.0   90.0
91     13.000000   13.0   1.414214   5.000000    5.0   0.000000   91.0   91.0
92     25.200000   21.0  18.846750   9.200000    8.0   6.379655   92.0   92.0
93     34.000000   35.5  22.612681  12.000000   12.5   7.788881   93.0   93.0
94     46.500000   47.0  37.143864  16.250000   16.5  12.685293   94.0   94.0
95     45.250000   41.5  21.761970  15.750000   14.5   7.500000   95.0   95.0
96     40.250000   41.5  10.781929  14.000000   14.5   3.741657   96.0   96.0
97     23.800000   24.0  19.549936   8.800000    9.0   6.572671   97.0   97.0
98     61.250000   62.0   4.645787  21.250000   21.5   1.707825   98.0   98.0
99     60.000000   68.0  31.764760  20.666667   23.0  10.692677   99.0   99.0
100    46.200000   41.0  21.206131  16.000000   14.0   7.176350  100.0  100.0
101    53.000000   53.0        NaN  18.000000   18.0        NaN  101.0  101.0
102    57.000000   57.0        NaN  20.000000   20.0        NaN  102.0  102.0
103    55.500000   53.5  19.841035  19.250000   18.5   6.701990  103.0  103.0
104    52.333333   58.0  15.307950  18.000000   20.0   5.291503  104.0  104.0
105    67.000000   67.0        NaN  23.000000   23.0        NaN  105.0  105.0
109    49.000000   49.0        NaN  17.000000   17.0        NaN  109.0  109.0
110    67.500000   67.5   7.778175  23.000000   23.0   2.828427  110.0  110.0
111    88.000000   88.0        NaN  30.000000   30.0        NaN  111.0  111.0
112    65.000000   65.0        NaN  22.000000   22.0        NaN  112.0  112.0
116    74.000000   74.0        NaN  25.000000   25.0        NaN  116.0  116.0
120    71.000000   71.0        NaN  24.000000   24.0        NaN  120.0  120.0
124    82.000000   82.0        NaN  28.000000   28.0        NaN  124.0  124.0
126    77.500000   77.5   2.121320  26.500000   26.5   0.707107  126.0  126.0
130    86.000000   86.0        NaN  29.000000   29.0        NaN  130.0  130.0
132    70.000000   70.0        NaN  24.000000   24.0        NaN  132.0  132.0
135    85.000000   85.0        NaN  29.000000   29.0        NaN  135.0  135.0
140    81.500000   81.5   2.121320  27.500000   27.5   0.707107  140.0  140.0
143    77.000000   77.0        NaN  26.000000   26.0        NaN  143.0  143.0
150    89.000000   89.0        NaN  30.000000   30.0        NaN  150.0  150.0


       std
pulse
80     NaN
82     NaN
83     0.0
84     0.0
85     0.0
86     0.0
87     0.0
88     0.0
89     0.0
90     0.0
91     0.0
92     0.0
93     0.0
94     0.0
95     0.0
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
101    NaN
102    NaN
103    0.0
104    0.0
105    NaN
109    NaN
110    0.0
111    NaN
112    NaN
116    NaN
120    NaN
124    NaN
126    0.0
130    NaN
132    NaN
135    NaN
140    0.0
143    NaN
150    NaN

In [20]:
exercises.groupby('pulse')['id'].agg(['mean','median','std'])

            mean  median        std
pulse
80      4.000000     4.0        NaN
82      4.000000     4.0        NaN
83      5.333333     6.0   1.154701
84     11.000000    11.0   5.000000
85      1.000000     1.0   0.000000
86     12.666667    11.0   2.886751
87     15.500000    15.5  12.020815
88      4.000000     4.0   4.242641
89     15.500000    15.5   0.707107
90      9.750000    10.0   6.601767
91      5.000000     5.0   0.000000
92      9.200000     8.0   6.379655
93     12.000000    12.5   7.788881
94     16.250000    16.5  12.685293
95     15.750000    14.5   7.500000
96     14.000000    14.5   3.741657
97      8.800000     9.0   6.572671
98     21.250000    21.5   1.707825
99     20.666667    23.0  10.692677
100    16.000000    14.0   7.176350
101    18.000000    18.0        NaN
102    20.000000    20.0        NaN
103    19.250000    18.5   6.701990
104    18.000000    20.0   5.291503
105    23.000000    23.0        NaN
109    17.000000    17.0        NaN
110    23.000000    23.0   2.828427
111    30.000000    30.0        NaN
112    22.000000    22.0        NaN
116    25.000000    25.0        NaN
120    24.000000    24.0        NaN
124    28.000000    28.0        NaN
126    26.500000    26.5   0.707107
130    29.000000    29.0        NaN
132    24.000000    24.0        NaN
135    29.000000    29.0        NaN
140    27.500000    27.5   0.707107
143    26.000000    26.0        NaN
150    30.000000    30.0        NaN

In [21]:
exercises.groupby('diet')[qualitativas].agg(pd.Series.mode)

            diet                                               kind
diet
no fat    no fat  ['rest', 'walking', 'running']
Categories (3, ...
low fat  low fat  ['rest', 'walking', 'running']
Categories (3, ...